<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carinho</title>
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>
<body>
    
    <header class="header-container">
        <% if(typeof user==='undefined' ) {%>
            <%- include('./partials/header', {user: undefined}); %>
              <% } else { %>
                <%- include('./partials/header', {user: user}); %>
                  <% } %>
    </header>

    <main>

        <% if(!products){%>
            <h1>Seu carrinho está um pouco vazio no momento.</h1>
           <%}else{%>

        <div class="cart-container">

         

            <div class="cart-icon">
                <img src="/images/icons/shopping-car.svg" alt="">
                <h1>Carinho</h1>
            </div>

           <% products.forEach(product=>{ %>

            <div class="product-cart">

                <% const imageFile=product.image +"-1"+ product.extension %>

                <div class="product-image">
                    <img src="/images/products/<%=imageFile%>" alt="">

                </div>

                <div class="product-cart-info">

                    <h2><%= product.name %></h2>


                    <form id="remove-item" action="/remover-produto/<%=product.product_id%>" class="remove-item" method="post">
                        <img src="/images/icons/remove_shopping_cart_white_24dp 1.svg" alt="">
                        <div>
                            <button form="remove-item" class="remove-btn" type="submit">Remover do Carinho</button>
                        </div>
                    </form>


                </div>

            </div>

            <div class="cart-value">
                <span class="value-text">Valor do Produto:</span>
                <span class="value-price"> <%= price.format(product.price) %> </span>
            </div>

        <% })%>

                <div class="finish-container">

                    <div class="final-price">
                        <img src="/images/icons/bag.svg" alt="">
    
                        <div class="final-text">
                            <span>Valor total da Compra:</span>
                            <span><%= finalPrice%></span>
                        </div>
                    </div>

                    <div class="finish-btn">
                        
                        <a href="/meu-endereco">Finalizar Compra</a>
                        
                    </div>


                </div>

                <%}%>

            

        </div>

    </main>

    <div class="support-container">

        <%- include('./partials/support');%>

      </div>

  <%- include('./partials/scrollTop');%>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

    <script src="/js/index.js"></script>
    <script src="/js/scrollTop.js"></script>
        
</body>
</html>