<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Look Up</title>
    <link rel="stylesheet" href="/stylesheets/detail-product.css" />
</head>

<body>

    <header class="header-container">
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="info-price">
            <div class="info-image-container">
                <div class="details-icons">
                    <a href="/">
                        <div class="di-card">
                            <img src="/images/icons/home.svg" alt="" />
                            <h2>Home</h2>
                        </div>
                    </a>

                    <a href="#info">
                        <div class="di-card info-tech">
                            <img src="/images/icons/info.svg" alt="" />
                            <h2>Informações</h2>
                        </div>
                    </a>

                    <div class="di-card">
                        <img src="/images/icons/favorite.svg" alt="" />
                        <h2>Favoritar</h2>
                    </div>
                </div>


                <div class="image-container">
                    <div class="image-frame">


                        <% for(let i=1; i <=4; i++) {%>

                            <% const image=productPk.image +"-"+i+ productPk.extension %>


                                <img src="/images/products/<%=image%>" onclick="imageFunction(this)" alt="" />

                                <% }%>

                    </div>

                    <div class="frame-box">
                        <% const imageBox=productPk.image +-1+ productPk.extension%>

                            <img id="imageBox" src="/images/products/<%=imageBox%>" alt="" />

                            <div class="offer-icon">
                                <img src="/images/icons/discount.svg" alt="">
                                <span>Oferta</span>
                            </div>
                    </div>
                </div>
            </div>

            <div class="price-container">
                <h1>
                    <%= productPk.name%>
                </h1>

                <div class="price-detail-card card1">
                    <div class="price-total">
                        <img src="/images/icons/payments.svg" alt="" />
                        <div class="price-value">
                            <span class="price-text">á vista</span>
                            <span class="value">
                                <%=productPk.price%>
                            </span>
                        </div>
                    </div>

                    <div class="discount-parcel">
                        <span class="price-text">Desconto</span>
                        <span class="discount">10%</span>
                    </div>

                </div>

                <div class="price-detail-card card2">
                    <div class="price-total">
                        <img src="/images/icons/credit.svg" alt="" />
                        <div class="price-value">
                            <span class="price-text">12x de 400,00</span>
                            <span class="price-text">sem juros no cartão</span>
                            <span class="value">R$ 13.000,00</span>
                        </div>
                    </div>

                    <div class="discount-parcel">
                        <span class="price-text">Parcelas</span>
                        <a href="#parcel-list"><img src="/images/icons/arrow.svg" alt="" /></a>
                    </div>

                </div>

                <button class="price-btn">Comprar</button>

                <div class="cep-info">
                    <label for="cep">Frete e Prazo:</label>
                    <input type="text" id="cep" name="cep" placeholder="Insira seu cep">
                    <button class="cep-btn" type="submit">Calcular</button>
                </div>
            </div>
        </div>



        <div id="parcel-list" class="parcel-container">

            <div class="parcel-icon">
                <img src="/images/icons/credit-electric.svg" alt="">
                <h2>Parcelamento</h2>
            </div>

            <div class="parcel-list">
                <ul>
                    <li>1x de R$798,78 (com 10% de desconto)</li>
                    <li>1x de R$798,78 (sem juros)</li>
                    <li>1x de R$798,78 (sem juros)</li>
                    <li>1x de R$798,78 (sem juros)</li>
                    <li>1x de R$798,78 (sem juros)</li>
                    <li>1x de R$798,78 (sem juros)</li>
                </ul>

                <ul>
                    <li>1x de R$798,78 (sem juros)</li>
                    <li>1x de R$798,78 (sem juros)</li>
                    <li>1x de R$798,78 (sem juros)</li>
                    <li>1x de R$798,78 (sem juros)</li>
                    <li>1x de R$798,78 (sem juros)</li>
                    <li>1x de R$798,78 (sem juros)</li>
                </ul>
            </div>

            <div class="single-product-description">
                <div class="description-icon">
                    <img src="/images/icons/description.svg" alt="">
                    <h2>Descrição do Produto</h2>
                </div>

                <p id="info">
                    <%=productPk.description%>
                </p>
            </div>

            <div>

                <div class="tech-icon">
                    <img src="/images/icons/info.svg" alt="">
                    <h2>Informações Técnicas</h2>
                </div>

                <div class="tech-container">
                    <ul class="technical-info">
                        <li>Marca: Intel</li>
                        <li>Peso: 2Kg</li>
                        <li>Efeitos de LED: RGB</li>
                        <li>Marca: Intel</li>
                        <li>Peso: 2Kg</li>
                        <li>Efeitos de LED: RGB</li>
                    </ul>

                    <ul class="tech-info">
                        <li>Marca: Intel</li>
                        <li>Peso: 2Kg</li>
                        <li>Efeitos de LED: RGB</li>
                        <li>Marca: Intel</li>
                        <li>Peso: 2Kg</li>
                        <li>Efeitos de LED: RGB</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="box-container">

            <div class="title-container">
                <img src="/images/icons/like.svg" alt="">
                <span>Talvez você Goste</span>
            </div>

            <div class="products-container">

                <% productsToShow.forEach(product=> {%>
        
                  <a href="/detalhe/<%=product.product_id%>">
                    <div class="add-product-container">
                    <div class="products-card">
        
                      <% const imageFile=product.image +"-1"+ product.extension %>
        
                        <img src="/images/products/<%=imageFile%>" alt="">
                        <h2 class="description-card">
                          <%= product.name%>
                        </h2>
                        <span class="price-cash">
                          <%= product.price%>
                        </span>
                        <span class="text1-card">ou</span>
                        <span class="price-card">R$ 1.400,00</span>
                        <span class="text2-card">em até</span>
                        <span class="parcel-price">12x de R$ 142,00</span>
                    </div>
                    <button class="add-product">Adicionar ao Carrinho</button>
                  </div>
                  </a>
        
                  <% }) %>
        
              </div>

        </div>

        </div>

        <div class="support-container">

            <%- include('./partials/support');%>

        </div>

    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

  <%- include('./partials/scrollTop');%>
    <script src="/js/detail-product.js"></script>

</body>

</html>