<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Look Up</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <header class="header-container">
    <%- include('./partials/header'); %>
  </header>

  <main>

    <div class="content">
      <div class="slides">
        <input checked class="slide-input" type="radio" name="slide" id="slide1" />
        <input class="slide-input" type="radio" name="slide" id="slide2" />
        <input class="slide-input" type="radio" name="slide" id="slide3" />

        <div class="slide s1">
          <img src="/images/banner/1.jpg" alt="" />
        </div>

        <div class="slide">
          <img src="/images/banner/2.jpg" alt="" />
        </div>

        <div class="slide">
          <img src="/images/banner/3.jpg" alt="" />
        </div>

        <div class="colorContainer">
          <div class="colors color1"></div>
          <div class="colors color2"></div>
          <div class="colors color3"></div>
        </div>
      </div>

      <div class="navigation">
        <label class="bar" for="slide1"></label>
        <label class="bar" for="slide2"></label>
        <label class="bar" for="slide3"></label>
      </div>
    </div>

    <div class="highlights">

      <div class="highlights-card">
        <img src="/images/high/2.jpg" alt="">
      </div>

      <div class="highlights-card">
        <img src="/images/high/2.jpg" alt="">
      </div>

      <div class="highlights-card">
        <img src="/images/high/2.jpg" alt="">
      </div>

    </div>


    <div class="box-container">

      <div class="title-container">
        <img src="/images/icons/warning.svg" alt="">
        <span>Produtos em Oferta</span>
      </div>

      <div class="products-container">

        <% offer.forEach(product=> {%>

          <a href="/detalhe/<%=product.product_id%>">
            <div class="add-product-container">
              <div class="products-card">

                <% const imageFile=product.image +"-1"+ product.extension %>

                  <img src="/images/products/<%=imageFile%>" alt="">
                  <h2 class="description-card">
                    <%= limiterText(product.name)%>
                  </h2>
                  <span class="price-cash">
                    <%= price.format(product.price_discount)%>
                  </span>
                  <span class="text1-card">ou</span>
                  <span class="price-card">
                    <%= price.format(product.price)%>
                  </span>
                  <span class="text2-card">em até</span>
                  <span class="parcel-price"> 12x de <%=price.parcels(product.price_discount) %> </span>
              </div>
              <button class="add-product">Adicionar ao Carrinho</button>
            </div>
          </a>

          <% }) %>

      </div>

    </div>

    <div class="brands">

      <div class="brand-card">
        <a href="/intel-products"><img src="/images//banner/intel.jpeg" alt=""></a>
      </div>

      <div class="brand-card">
        <a href="/ryzen-products"><img src="/images/banner/ryzen.jpg" alt=""></a>
      </div>

    </div>

    <div class="box-container">

      <div class="title-container">
        <img src="/images/icons/smartphone.svg" alt="">
        <span>Smartphones</span>
      </div>

      <div class="products-container">

        <% smartphone.forEach(product=> {%>

          <a href="/detalhe/<%=product.product_id%>">
            <div class="add-product-container">
              <div class="products-card">

                <% const imageFile=product.image +"-1"+ product.extension %>

                  <img src="/images/products/<%=imageFile%>" alt="">
                  <h2 class="description-card">
                    <%= limiterText(product.name)%>
                  </h2>
                  <span class="price-cash">
                    <%= price.format(product.price_discount)%>
                  </span>
                  <span class="text1-card">ou</span>
                  <span class="price-card"> <%=price.format(product.price) %> </span>
                  <span class="text2-card">em até</span>
                  <span class="parcel-price">12x de <%= price.parcels(product.price) %> </span>
              </div>
              <button class="add-product">Adicionar ao Carrinho</button>
            </div>
          </a>

          <% }) %>

      </div>

      <div class="ipu-container">

        <div class="ipu-card">
          <h2>Iniciante</h2>
          <a href="/iniciante"><img src="/images/high/2.jpg" alt=""></a>
        </div>

        <div class="ipu-card">
          <h2>Ultra</h2>
          <a href="/ultra"><img src="/images/high/2.jpg" alt=""></a>
        </div>

        <div class="ipu-card">
          <h2>Ultimate</h2>
          <a href="/ultimate"><img src="/images/high/2.jpg" alt=""></a>
        </div>

      </div>

      <div class="support-container">

        <%- include('./partials/support');%>

      </div>

  </main>

  <%- include('./partials/scrollTop');%>

    <footer>
      <%- include('./partials/footer'); %>
    </footer>

    <script src="/js/carrousel.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/scrollTop.js"></script>

</body>

</html>