<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Up</title>
    <link rel="stylesheet" href="/stylesheets/pagamento.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header class="header-container">
        <% if(typeof user==='undefined' ) {%>
            <%- include('./partials/header', {user: undefined}); %>
                <% } else { %>
                    <%- include('./partials/header', {user: user}); %>
                        <% } %>
    </header>

    <main>
        <div class="payment">
            <div class="method">
                <label for="payment-method">Método de Pagamento</label>
                <select name="payment-method" id="payment-method">
    
                    <option value="pix">Pix</option>
                    <option value="boleto">Boleto</option>
                    <option value="credit">Cartão de Crédito</option>
                    <option value="debit">Cartão de Débito</option>
    
                </select>
            </div>
    
            
                <form action="/pagamento" class="pay" id="pay" method="post">
                    <label for="secretCode" class="sc">Secret Code</label>
                    <input type="text" name="secretCode" id="secretCode">
                  <div>  <button type="submit" form="pay">Pagar</button></div>
                </form>
            
    </div>

    <div class="support-container">

        <%- include('./partials/support');%>

      </div>

    </main>

  <%- include('./partials/scrollTop');%>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

    <script src="/js/index.js"></script>
    <script src="/js/scrollTop.js"></script>

</body>

</html>