<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tablet</title>
  <link rel="stylesheet" href="/stylesheets/list-products.css">
</head>

<body>

  <header class="header-container">
    <%- include('./partials/header'); %>
  </header>

  <main>

    <%- include('./partials/filter'); %>    

    <div class="box-container">

      <div class="title-container">
        <img src="/images/icons/tablet.svg" alt="">
        <span>Tablet</span>
      </div>

      <div class="products-container">

        <% tablet.forEach(product=> {%>

          <a href="/detalhe/<%=product.product_id%>">
            <div class="add-product-container">
            <div class="products-card">

              <% const imageFile=product.image +"-1"+ product.extension %>

                <img src="/images/products/<%=imageFile%>" alt="">
                <h2 class="description-card">
                  <%= limiterText(product.name)%>
                </h2>
                <span class="price-cash">
                  <%= formatPrice(product.price) %>
                </span>
                <span class="text1-card">ou</span>
                <span class="price-card">R$ 1.400,00</span>
                <span class="text2-card">em até</span>
                <span class="parcel-price">12x de R$ 142,00</span>
            </div>
            <button class="add-product">Adicionar ao Carrinho</button>
          </div>
          </a>

          <% }) %>

      </div>

    </div>

    <!-- <%- include('./partials/page');%> -->


    <div class="support-container">

      <%- include('./partials/support');%>

    </div>

  </main>

  <%- include('./partials/scrollTop'); %>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>
  
  <script src="/js/filter.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/scrollTop.js"></script>


</body>

</html>