<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Up</title>
    <link rel="stylesheet" href="/stylesheets/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <header class="header-container">
        <% if(typeof user==='undefined' ) {%>
            <%- include('./partials/header', {user: undefined}); %>
              <% } else { %>
                <%- include('./partials/header', {user: user}); %>
                  <% } %>
    </header>

    <main id="user">

        <div class="container-left">
            <div class="profile-container">
                <div class="profile-image">
                    <img>
                    <h2><%= user.nome %> <%= user.sobrenome %></h2>
                </div>
        
                <div class="credit">
                    <div id="credit-black">
                        <h2>créditos:R$ ??</h2>
                    </div>  
                    <a href="">Comprar Créditos</a>
                    <a href="">Editar Perfil</a>
                    <a href="/usuario/logout">Deslogar</a>
                </div>
        
                <div class="edit-profile">
                    
                </div>
            </div>
        

            <div id="contact-sac">
                <h2>Atendimento ao cliente</h4>
                <p>Central SAC: (13) 98806-6744</p>
                <p>henriqueaffonsorios@gmail.com</p>
                <button id="suport-button">Atendimento via chat</button>
            </div>
        </div>

        <div id="info-stories">
            <h1 id="buy-title-story">Histórico De Compras</h1>
            <h3 id="buy-subtitle-story">Aqui você encontra todas as informações do seu pedido</h3>

            <div id="buy-table-story">
                <div class="table-head">
                    <h2>Todos os pedidos</h2>
                </div>

                <div class="table-head-2">
                    <p>Número do pedido</p>
                    <p>Data</p>
                    <p>Pagamento</p>
                    <p>Posição</p>
                </div>

                <div class="table-row">          
                    <p>4312378074346436</p>
                    <p>30/03/2022</p>
                    <p>Cartão de Crédito</p>
                    <p>Enviado</p>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>